.nav {
  justify-content: center; }
nav{
  background-image: linear-gradient(95deg, #ff9d7a 0, #ff8f83 10%, #ff8089 20%, #ff718d 30%, #ff628d 40%, #f25389 50%, #d34683 60%, #b63c7d 70%, #9e3678 80%, #883174 90%, #752e71 100%);
}
.logo{
  font-family: roboto;
}
.flex{
  text-align: center;
  width: 22rem;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px; 
}
body{
  background-image: linear-gradient(95deg, #ff9d7a 0, #ff8f83 10%, #ff8089 20%, #ff718d 30%, #ff628d 40%, #f25389 50%, #d34683 60%, #b63c7d 70%, #9e3678 80%, #883174 90%, #752e71 100%);
}
span{
  font-size: 2rem;
  font-family: roboto;
  width: 48px;
  text-align: center;
}

.foto{
  height: 50vh;
  width: 20vw;
  position: relative;
  border-radius: 40px;
}
.contador{
  text-align: center;
  margin: 2px;
  padding: 2px;
}
.tarjeta{
  background-image: linear-gradient(95deg, #ff9d7a 0, #ff8f83 10%, #ff8089 20%, #ff718d 30%, #ff628d 40%, #f25389 50%, #d34683 60%, #b63c7d 70%, #9e3678 80%, #883174 90%, #752e71 100%);
  align-items: center;
  border-radius: 40px;
  width: 20vw;
}
.cart{
  color: black;
  text-decoration: none;
}
.tabla{
  background-image: linear-gradient(95deg, #ff9d7a 0, #ff8f83 10%, #ff8089 20%, #ff718d 30%, #ff628d 40%, #f25389 50%, #d34683 60%, #b63c7d 70%, #9e3678 80%, #883174 90%, #752e71 100%);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20vw;
}
.boton-derecho{
  display: block;
  margin-right: auto;
}
.bton{
  font-weight: bold;
}